---
layout: default
---
<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h5>About</h5>
  <!-- Hello! I am a M.S. Student at the <b><a href="https://lklab.kaist.ac.kr/">Language & Knowledge Lab</a></b> at KAIST, advised by <b><a href="https://seominjoon.github.io/">Minjoon Seo</a></b>. 
  Currently, I am focused on addressing the inherent limitations of current neural models to build large language models that are applicable to real-world scenarios. 
  Specifically, I am interested in (1) allowing neural models to be lifelong learners [<b><a href="https://openreview.net/forum?id=vfsRB5MImo9">Continual Knowledge Learning</a></b>, <b><a href="https://arxiv.org/abs/2204.14211">TemporalWiki</a></b>, <b><a href="https://arxiv.org/abs/2206.11349">Prompt Injection</a></b>] 
  (2) providing privacy and security guarantees for neural models [<b><a href="https://openreview.net/forum?id=zAxuIJLb38">Knowledge Unlearning</a></b>], and 
  (3) enabling neural models to truly follow human instructions [<b><a href="https://arxiv.org/abs/2209.12711">Negated Prompts</a></b>, <b><a href="https://arxiv.org/abs/2210.03029">Retrieval of Soft Prompts</a></b>, <b><a href="https://arxiv.org/abs/2210.02969">Flipped Learning</a></b>, <b><a href="https://arxiv.org/abs/2302.03202">Expert Language Models</a></b>].
  <br><br>
  I will be a Ph.D. Student at the <b><a href="https://www.cs.washington.edu/research/nlp">Natural Language Processing group</a></b> at <b><a href="https://www.cs.washington.edu/">Paul G. Allen School of Computer Science & Engineering, University of Washington</a></b>, advised by <b><a href="https://www.cs.washington.edu/people/faculty/lsz">Luke Zettlemoyer<a/></b> and <b><a href="https://homes.cs.washington.edu/~hannaneh/">Hannaneh Hajishirzi</a></b> starting from Fall 2023.  -->
</div>

<!-- ========== News ========== -->
<div class="docs-section">
  <h5>News</h5>
  <!-- <div class="col-12 col-md-12 text-md-left no-padding">
    <b class="bbold" style="color:#fa8072;">May 2023</b>&nbsp;&nbsp;&nbsp;&nbsp;
    Our <a href="https://arxiv.org/abs/2210.01504">Knowledge Unlearning</a> paper and <a href="http://www.omitted.link/">Gradient Ascent Post-training</a> paper has been accepted to <b>ACL 2023</b> and <a href="https://arxiv.org/abs/2206.11349">Prompt Injection</a> to <b>Findings of ACL 2023</b>!
  </div>
  <div class="col-12 col-md-12 text-md-left no-padding">
    <b class="bbold" style="color:#fa8072;">April 2023</b>&nbsp;&nbsp;&nbsp;&nbsp;
    Our <a href="https://arxiv.org/abs/2302.03202">ELM</a> paper has been accepted to <b>ICML 2023</b>!
  </div> -->

  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Sep 2023</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Achieve Best Paper at <a href="https://dstc11.dstc.community/">DSTC 11</a> Speech-Aware Dialog Systems Technology Challenge track! It will be published at SIGDIAL X INLG 2023.
    </div>

    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Nov 2022</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Achieve 2nd Prize at <a href="https://dstc11.dstc.community/">DSTC 11</a> Speech-Aware Dialog Systems Technology Challenge track!
    </div>

    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Feb 2022</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Join <a href="https://ailab.kaist.ac.kr">AIPR-Lab</a> as a M.S. Student!
    </div>

    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Dec 2017</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Achieve 1st Prize at Worksmart Contest in Samsung Electronics!
    </div>
  </div>
</div>
<p></p>


<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h5>Education</h5>
        <div class="paper">
          <p class="title"><b>Korea Advanced Institute of Science and Technology (KAIST) <b style="float:right;">Feb. 2022 - Present</b></b></p>
          
          <p>M.S. Student (advisor: <a href="http://ailab.kaist.ac.kr/users/kekim">Kee-Eung Kim</a>)</p>
          <p></p>
        </div>
      
        <div class="paper">
          <p class="title"><b>Soongsil University<b style="float:right;">Mar. 2007 - Feb. 2015</b></b></p>
          
          <p>B.S. in Computer Science
          <p></p>
        </div>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h5>Publications</h5>

  <!-- <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/> -->
  </p>

  <!-- <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul> -->

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
        <div class="paper">
          {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
          {% for paper in selected_papers %}
          <div class="row">
            <!--
            <div class="four columns">
              <div class="figure">
                <img src="{{ paper.image }}" width="100%">
              </div>
            </div>
            -->
            <div class="twelve columns">
              <br />
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.poster %}
                  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.video %}
                  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}
                
                {% if paper.slides %}
                  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                {% endif %}
                
                {% if paper.twitter %}
                  <a class="button" href="{{ paper.twitter }}" target="_blank">Twitter</a>
                {% endif %}
              </div>
            </div>
          </div>       
          {% endfor %}
        </div>
      <h6><b><i>( * indicates equal contribution )</i></b></h6>
    </div>    
</div>

<!-- ========== PROJECTS ========== -->
<!-- <div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div> -->

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <!-- <p>Full CV in <a href={{ "/assets/cv/CV.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p> -->

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

</div>
